<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

<!-- Main Content -->
  <main class="container">
     <div class="p-5 mb-4" style="text-align:center;" >
        <img src="../Assets/images/team_logo.png">
        <div class="container-fluid py-5">
            <h1 class="fill fw-bold" style="text-align:center; color: white;">Team Members </h1>
                <div class="groupRow">
                    <div class="column">
                    <img src="../Assets/images/ChaehyunLee.png" width="250" height="250">
                    <p><br><b>Chaehyun Lee</b> <br> Project Manager</p>
                    </div>
                    <div class="column">
                    <img src="../Assets/images/Sarabun.png" width="250" height="250">
                    <p><br><b>Sarabun Tohura</b> <br> Lead Software Engineer</p>
                    </div>
                    <div class="column">
                    <img src="../Assets/images/Mohammed.jpeg" width="250" height="250">
                    <p><br><b>Mohammed Husain</b> <br> Web Designer</p>
                    </div>
                </div>
                 <div class="groupRow">
                </div>
                <div class="groupRow">
                    <div class="column">
                    <img src="../Assets/images/Profpic.Viktoria-1_1.jpg" width="250" height="250">
                    <p><br><b>Viktoriia Romaniuk</b> <br> Database Programmer</p>
                    </div>
                    <div class="column">
                    <img src="../Assets/images/YerimCho.jpg" width="250" height="250">
                    <p><br><b>Yerim Cho</b> <br> Security Programmer</p>
                    </div>
                     <div class="column">
                    <img src="../Assets/images/Mostafa.jpg" width="250" height="250">
                    <p><br><b>Mostafa Assad</b> <br> UI Programmer</p>
                    </div>
                </div>
        </div>
      </div>
  </main>


<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
