<!-- 
 File Name : index.ejs
 COMP228 - Web Application Developmnet
 Summer 2021 Group 6
 Mighty Bunch

 Developers: 
 Sarabun Tohura - 300685525
 Yerim Cho - 301143325
 Mohammed Husain - 301149144
 Mostafa Asaad - 301173762
 Chaehyun Lee - 301084271
 Viktoriia Romaniuk - 301079072

 Web App Name : Migthy Survey
 Description : Users can create new survey. 
 There are two types of surveys, True or False / Scale.
 Only logged-in users can answer the survey,
 and only the creator of survey can edit / delte the survey. 
-->
<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  <!-- Main Content -->
  <main class="container" style="background-color: cornsilk;">
    <div class="row">
      <div class="offset-md-1 col-md-11">
        <div class="container-fluid py-5" style="background-color: cornsilk;">     
          <!-- Home Page  --> 
          <% if (title == "Home"){ %>
            <h2 class="display-4 fw-bold">Welcome to COMP229 Group 6 Survey Web Application</h2>
            <h3>TO DO</h3>
            <!-- Group member page-->
            <% } else if (title == "Group Members"){ %>
              <h2 class="display-4 fw-bold">Group Members</h2>
              <h3>TO DO</h3>      
              <!--project detail page-->    
            <% } else if (title == "Projects"){%>
              <h2 class="display-4 fw-bold">Project Details</h2>
              <h3>TO DO</h3> 
              <!-- Survey page-->
            <% } else if (title == "Active Survey"){%>
             <!-- login page--> 
            <% } else if (title == "Login") {%>  
              <h2 class="display-4 fw-bold">Project Details</h2>
              <h3>TO DO</h3>
            <% } %>
        </div>
      </div>
    </div>
  </main>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  




