<!-- 
 File Name : index.ejs
 COMP228 - Web Application Developmnet
 Summer 2021 Group 6
 Mighty Bunch

 Developers: 
 Sarabun Tohura - 300685525
 Yerim Cho - 301143325
 Mohammed Husain - 301149144
 Mostafa Asaad - 301173762
 Chaehyun Lee - 301084271
 Viktoriia Romaniuk - 301079072

 Web App Name : Migthy Survey
 Description : Users can create new survey. 
 There are two types of surveys, True or False / Scale.
 Only logged-in users can answer the survey,
 and only the creator of survey can edit / delte the survey. 
-->
<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  <!-- Main Content -->
  <main class="container" style="background-color: cornsilk;">
    <div class="row">
      <div class="col-md">
      <!-- Home Page  --> 
        <% if (title == "Home"){ %>
          <h3 class="fill fw-bold">Start - Up Surveys with Mighty Bunch and Get Quick Data.</h3>
          <a class="btn btn1" href="/register" role="button">Sign Up Now</a>
        <div class="container-fluid py-5">  

           <!--Group member page-->
            <% } else if (title == "About Us"){ %>
              <h2 class="display-4 fw-bold">About Us</h2>
              <h3>TO DO</h3>      
              <!--project detail page-->    
            <% } else if (title == "Projects"){%>
              <h2 class="display-4 fw-bold">Project Details</h2>
              <h3>TO DO</h3> 
              <!-- Survey page-->
            <% } else if (title == "Active Survey"){%>
             <!-- login page--> 
            <% } else if (title == "Login") {%>  
              <h2 class="display-4 fw-bold">Project Details</h2>
              <h3>TO DO</h3>
            <% } %>
        </div>
      </div>
      <div class="col-md">
        <img src="../Assets/images/home.png" class="img-fluid" alt="home">
      </div>
    </div>


    <div class="container px-4">
      <div class="row gx-5">
        <div class="col">
          <div class="p-4 cl c1">
            Step 1
            <h3 class="pt-5">Go To Survey List.</h3> <h1 style="text-align: right"><i class="fas fa-list"></i></h1>
            <!--<img src="../Assets/images/list.png" class="image" alt="..."> -->
          </div>
        </div>
        <div class="col">
          <div class="p-4 cl c2">
            Step 2
            <h3 class="pt-5"> Fill Up Surveys.</h3><h1 style="text-align: right"><i class="fas fa-user-edit"></i></h1>
          </div>
        </div>
        <div class="col">
          <div class="p-4 cl c3">
            Step 3
            <h3 class="pt-5"> Hurray! Get Results.</h3><h1 style="text-align: right"><i class="fas fa-gift"></i></h1>
          </div>
        </div>
      </div>
    </div>


  </main>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  




